<h1>YOOO, merci de confirmer votre e-mail</h1>

<p>
    Merci de confirmer votre adresse mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon mail</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    UwU!
</p>
